/*重置样式*/
body, div, p, ul, ol, dl, dt, dd, li, form, input, table, th, td, img, h1, h2, h3, h4, h5, h6 {
    padding: 0;
    margin: 0;
}

body {
    font-size: 12px;
    font-style: normal;
    color: #000;
    font-family: 'Microsoft Yahei', '微软雅黑', 'Simsun', '宋体', 'Arial', sans-serif;
    background: #fff;
}

em, b, i {
    font-style: normal;
}

li {
    list-style: none;
}

img {
    border: none;
}

a {
    text-decoration: none;
    color: #999;
}

a:hover {
    text-decoration: none;
    color: #45B6F7;
}

table {
    border-spacing: 0;
    border-collapse: collapse;
}


/*公共属性*/
.hide {
    display: none;
}

.flt {
    float: left;
}

.frt {
    float: right;
}

.clearfix {
    *zoom: 1;
}

.clearfix:before, .clearfix:after {
    display: table;
    line-height: 0;
    content: "";
}

.clearfix:after {
    clear: both;
}

.mb-15 {
    margin-bottom: 15px;
}

.mb-15 {
    margin-bottom: 15px;
}

/*主要模块*/
.module-header {
    background: #fff;
    position: relative;

    box-shadow: 0 1px 2px #ddd;

}

.module-header .header-inner{
    height: 110px;

}

.module-body {
    padding: 20px 0;
    min-height: 600px;
    background: rgba(250,250,250,1);
}

.module-footer {
    box-sizing: border-box;
    height: 100px;
    background: #fff;
    padding: 40px 30px;
}

.module-content {
    width: 1200px;
    margin: 0 auto;
}

.top-menu {
    height: 50px;
}

.top-menu-link {
    float: right;
}

.top-menu-link > li {
    float: left;
    height: 14px;
    padding: 0 15px;
    margin-top: 20px;
    font-size: 14px;
    line-height: 14px;
}



.top-menu .angle{
  background: url('../images/angle.png') no-repeat;
  width: 10px;
  height: 14px;
  float: right;
  margin-left:4px;
  transition: transform .2s ease-in;
}

.menusns:hover .angle{
  transform: rotate(180deg);
  background: url('../images/angle_rotated.png') no-repeat;
}

.menusns{
  position: relative;
}

.menusns:hover .sub-menu-rss{
  display: block;
  z-index: 1;
}

.sub-menu-rss{
  display: none;
  position: absolute;
  left: 0;
  top: 120%;
  width: 132px;
line-height: 30px;
  background: #fff;
  border: 1px solid #ddd;
  border-radius: 4px;
  padding: 6px 0;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  font-weight: bold;
}

.sub-menu-rss a{
  display: block;
  padding-left: 15px;

}

.sub-menu-rss a:hover{
  background-color: #f6f6f6;
}

.sub-menu-rss .rss-icon{
  float: left;
  margin: 7px 6px 0 0;
  width: 14px;
  height: 14px;
  background: url('../images/wifi-rss.png') no-repeat;

}

.sub-menu-rss a:hover .rss-icon{
  background: url('../images/wifi-rss.png') 0 -14px no-repeat;

}

.header-master {
    height: 32px;

}

.header-master .logo {
    width: 137px;
    height: 32px;
}

.header-master .slogan {
    width: 100px;
    height: 30px;
    padding-left: 10px;
    margin-left: 10px;
    margin-top: 2px;
    font-size: 14px;
    color: #bbb;
    border-left: 2px solid #eaeaea;
}

.header-master .slogan p {
    margin-top: -3px;
}

.site-navbar {
    padding-top: 10px;
}
.site-navbar > ul > li {
    position: relative;
    float: left;
    font-size: 18px;
    padding: 0 15px;
}

.site-navbar  ul  li a:hover {
    color: #45B6F7;
}

.sub-menu {
    display: none;
    position: absolute;
    top: 24px;
    left: -10px;
    min-width: 150px;
    padding: 8px.0;
    background: #fff;
    border: 1px solid #ddd;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 4px;
}

.sub-menu li a {
    display: block;
    font-size: 14px;
    line-height: 32px;
    padding: 0 50px 0 20px;
}

.sub-menu li a:hover {
    background-color: #f6f6f6;
}

.site-navbar > ul > li:hover .sub-menu {
    display: block;
    z-index: 1;
}

.site-navbar ul li a{
  color: #666;
}

.site-navbar > ul > li:first-child a{
  color: #45B6F7
}

.site-navbar > ul > li.nav-search {
    padding-top: 3px;
}

.search-case {
    display: inline-block;
    width: 18px;
    height: 18px;
}

.icon-search {
    background: url('../images/search_24x24px.png') no-repeat;
    background-size: 18px 18px;
}

.icon-search:hover {
    background: url('../images/search_24x24px_hover.png') no-repeat;
    background-size: 18px 18px;
}

.icon-close {
    background: url('../images/close_24x24px.png') no-repeat;
    background-size: 18px 18px;
}

.icon-close:hover {
    background: url('../images/close_24x24px_hover.png') no-repeat;
    background-size: 18px 18px;
}

.site-search {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: -1;
    height: 100px;
    background: rgba(255, 255, 255, 0.8);
}

.site-search.search-show {
    top: 111px;
    z-index: 0;
    transition: all ease 0.3s;
}

.site-search .search-box {
    padding: 25px 0;
    text-align: center;
}

.site-search-form {
    display: inline-block;
}

.site-search-form .site-search-input {
    float: left;
    width: 612px;
    height: 50px;
    padding: 4px 12px;
    font-size: 16px;
    color: #999;
    border: solid 1px #45B6F7;
    box-sizing: border-box;
    border-radius: 2px 0 0 2px;
    outline: none;
}

.site-search-form .site-search-input:focus {
    border-color: #45B6F7;
}

.site-search-form .site-search-btn {
    width: 108px;
    height: 50px;
    background: #45B6F7;
    border-radius: 0 2px 2px 0;
    border: none;
    cursor: pointer;
}

.site-search-form .site-search-btn:hover {
    opacity: 0.85;
    filter: alpha(opacity=85);
}

.icon-search-white {
    display: inline-block;
    width: 24px;
    height: 24px;
    background: url('../images/search_24x24px_white.png') no-repeat;
}
/* end header */

/* 主题部分 */
.module-main{
  float: left;
  width: 820px;
}


.module-banner{
  height: 200px;
  background: #45b6f7;
}

.module-ad-large{
  box-sizing: border-box;
  border: 1px solid #eaeaea;
  height: 140px;
  padding:15px 20px;
  border-radius: 4px;
  background: #fff;
}

.module-ad-large .ad-title{
  font-size: 18px;
}

.module-ad-large .ad-title .red-text{
  color: #ff5f52;
}

.module-ad-large .ad-title a{
  color: #555;
}

.module-ad-large .ad-title a:hover{
  color: #45b6f7;
}

.module-ad-large .ad-desc{
  padding-top: 15px;
  font-size: 14px;
  color: #666;
  line-height: 20px;
  text-indent: 28px;
}

.module-column-title{
  height: 22px;
  margin-bottom: 10px;
}

.module-column-title h3{
  font-weight: normal;
  font-size: 20px;
  color: #555;
}

.module-column-title .more{
  font-size: 14px;
}

.module-article-list{
  min-height: 600px;
  border: 1px solid #eaeaea;
  border-radius: 4px;
  background: #fff;
}

.list-box li{
  box-sizing: border-box;
  height: 192px;
  padding: 20px;
  border-bottom: 1px solid #eaeaea;
}

.list-box li:hover{
  background: #f9f9f9;
}

.list-box li .article-thumbnail{
  width: 220px;
  height: 150px;
}

.article-info{
  margin-left: 235px;
  color: #999;
}

.article-info .title{
  margin-bottom: 10px;
}

.article-info .title .cat{
  position: relative;
  display: inline-block;
  padding: 3px 6px;
  font-size: 12px;
  color: #fff;
  background: #45BCF9;
}

.article-info .title .icon-arrow{
    position: absolute;
    top: 50%;
    margin-top: -4px;
    right: -8px;
    display: inline-block;
    width: 0;
    height: 0;
    vertical-align: middle;
    border-left: 4px solid #45BCF9;
    border-right: 4px solid transparent;
    border-top: 4px solid transparent;
    border-bottom: 4px solid transparent;
  }

.article-info .title .title-link{
  margin-left: 5px;
  color: #555;
}

.article-info .title .title-link:hover{
  color: #45b6f7;
}

.article-info .meta {
  line-height: 30px;
}

.article-info .meta .time{
  display: inline-block;

}

.article-info .meta .author{
  display: inline-block;
  margin-left: 20px;
}

.article-info .meta .readnumber{
  display: inline-block;
  margin-left: 20px;
}

.article-info .meta .icon-time{
  float: left;
  margin: 9.5px 5px 0 0;
  width: 12px;
  height: 12px;
  background: url('../images/article-info-icon.png') no-repeat;
}

.article-info .meta .icon-user{
  float: left;
  margin: 9px 5px 0 0;
  width: 12px;
  height: 12px;
  background: url('../images/article-info-icon.png') -12px 0 no-repeat;
}

.article-info .meta .icon-eye{
  background: url('../images/article-info-icon.png') -24px 0 no-repeat;
  width: 12px;
  height: 12px;
  float: left;
  margin: 9px 5px 0 0;

}

.list-box li:last-child{
  border: none;
}

.article-info .desc{
  padding: 5px 0;
  line-height: 20px;
}

.module-sidebar{
    float: right;
    width: 360px;
    min-height: 900px;
    
  }

  .module-sidebar .widget{  
    clear: both;
    box-sizing: border-box;
    overflow: hidden;
    border: 1px solid #eaeaea;
    background: #fff;
    border-radius: 4px;
    margin-bottom: 15px;
}

.module-sidebar .widget-top{
    height: 200px;
    
}

.widget-nav{
    box-sizing: border-box;
    height: 36px;
    background: #fbfbfb;
    line-height: 36px;
    border-bottom: 1px solid #eaeaea;
}

.widget-nav .active{
    text-align: center;
    color: #666;
    font-weight: bold;
    width: 25%;
    background: #fff;
    border-right: 1px solid #eaeaea;
    cursor: default;
    
}

.widget-navcontent{
    clear: both;
    position: relative;
}

.widget-navcontent .item-01{
    padding: 15px;
    width: 100%;
    box-sizing: border-box;
}

.item-01 ul li{
    margin-bottom: 12px;
    display: list-item;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    font-size: 12px;
}

.item-01 ul li a{
    color:#555;
}

.item-01 ul li a:hover{
    color: #45b6f7;
}

.item-01 ul li:first-child a:hover{
    color: #45b6f7;
}

.item-01 ul li:first-child a{
    font-weight: bold;
    color: #666;
}

.item-01 ul li time{
    float: right;
    color: #bbb;
    margin-left: 10px;
}

.widget-ui-textasb:hover{
    border: 1px solid #428BCA;
}

.widget-ui-textasb a.style01{
    display: block;
    color: #428BCA;
    padding: 0 15px 14px 15px;
}

.widget-ui-textasb a strong{
    margin: -1px 0 0 0;
    display: inline-block;
    background-color: #428BCA;
    color: #fff;
    padding: 4px 15px;
    font-size: 14px;
    font-weight: normal;
}

.widget-ui-textasb a h2{
    font-size: 20px;
    font-weight: normal;
    margin-top: 14px;
    margin-bottom: 10px;
}

.widget-ui-textasb a p{
    color: #999;
}

.widget-ui-ads.widget{
    
    border: none;
}

.widget-ui-textasb .style02{
    display: block;
    padding: 0 15px 15px 15px;
    color: #FF5E52;
}
.widget-ui-textasb .style02 strong{
    background-color: #FF5E52;
}

.widget-red:hover{
    border: 1px solid #FF5E52;
}



.widget h3{
    font-size: 18px;
    color: #666;
    border-bottom: 1px solid #eaeaea;
    background-color: #fbfbfb;
    padding: 11px 15px 10px;
    font-weight: normal;
    line-height: 1.1;
}

.widget-ui-tags .items{
    overflow: hidden;
    padding: 15px 0 12px 15px;
}

.widget-ui-tags .items a{
    box-sizing: border-box;
    overflow: hidden;
    color: #999;
    background-color: #f6f6f6;
    float: left;
    width: 31.3333%;
    height: 29px;
    margin: 0 1% 1% 0;
    padding: 0 8px;
    font-size: 12px;
    line-height: 29px;
}

.widget-ui-tags .items a:hover{
    color: #fff;
    background-color: #45B6F7;
}

.branding{
    background: #444;
    text-align: center;
    padding: 70px 20px;
}

.container{
    margin: 0 auto;
    max-width: 1200px;
}
.container h2{
    color: #ccc;
    padding: 0 0 20px;
    font-size: 33px;
    font-weight: 500;
    line-height: 1.1;
    display: block;
    box-sizing: border-box;
}

.container .btn{
    color: #ccc;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin: 0 10px;
    font-size: 18px;
    padding: 12px 28px;
    line-height: 1.33;
}

.container .btn:hover{
    background-color: #ccc;
    color: #444;
}

.module-footer .module-content p{
    font-size: 12px;
    margin: 0 0 10px;
    line-height: 12px;
    text-align: center;
    color: #999;
}